

#container {
  height: 100%;
}

.page-header {
   /*
   margin-top: 100px;
    background-color: #0085b8;
    color: #fff;
    margin-top: 10px ;
    padding: 5%;
    */
}

.page-footer {
    /* background-color: rgb(75, 70, 74); */
    /*
    background-color: #0085b8;
    color: #fff;
    padding: 20px;
    */
}

.page-body {
  /* padding: 0px; */
  height: 100%;
}



